<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form novalidate #adminSignupform="ngForm">
        <label>Username: </label>
        <input class="form-control" type="text" placeholder="UserName" required #Username>
        <br>
        <label>Password: </label>
        <input class="form-control" type="password" placeholder="Password" required #Password>
        <br>
        <label>EmailID: </label>
        <input class="form-control" type="email" placeholder="Email" required #Email>
        <br>
        <label>Name: </label>
        <input class="form-control" type="text" placeholder="Name" required #Name>
        <br>
        <label for="userType">Pick a UserType</label>
        <br>
        <select name="userType" required #UserType>
            <option value ="user">user</option>
            <option value ="admin">admin</option>
        </select>
        <button (click)="onAdminSignUp($event, Username.value, Password.value, Email.value, Name.value, UserType.value)" class="btn btn- float-end btn btn-warning">Sign Up</button>
      </form>
    </mat-card-content>
</mat-card>